@import "reset.css";
@import "third-part/emoji-awesome-master/src/css/apple.css";

body {
  --translucence:.5;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  background: linear-gradient(to left, 
    rgba(253, 116, 108,var(--translucence)), 
    rgba(255, 144, 104,var(--translucence)),
    rgba(227, 93, 91,var(--translucence)),
    rgba(229, 57, 53,var(--translucence)));
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}
@keyframes gradient {
  from {background-position:0 50%}
  50% {background-position: 100% 50%}
  to {background-position:0 50%}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
}

.content {
  max-width: 1080px;
  padding: 2em;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
}

h2#question {
  font-size:34px;
}

#choices li {
  list-style: none;
  padding: 2em 1em;
  margin: 1em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#choices li:hover {
  box-shadow: 0 15px 65px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  background: #fe9d90;
}

main {
  margin: 1em auto;
}

.quizWrap {
  width: 80%;
  margin: 60px auto 0;
  padding: 60px 30px;
  box-shadow: 0 75px 150px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #EAF5F5;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

footer {
  width: 80%;
  margin: 0 auto;
}

.cp {
  text-align: center;
  margin: 0 auto;
  color: #B5C0B5;
  font-family: "IBM Plex Mono", monospace;
}

.cp .repo img {
  height: 18px;
  vertical-align: middle;
  opacity: 0.5;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  filter:invert(100);
}

.cp .repo:hover img {
  opacity: 0.75;
  transform: scale(1.1);
  
}

.cp span {
  letter-spacing: -2px;
  font-size: 0.85em;
}

a {
  text-decoration: none;
  color: #B5C0B5;
}

a:hover {
  color: inherit;
  color: #B5C0B5;
}

ul {
  margin: 3em auto;
}

.li {
  cursor: pointer;
}
.choice {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d1d1d1;
}
.check::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .check {
  background-color: #2196f3;
}

li:hover input[type="checkbox"]:not(:checked) ~ .check {
  background-color: #ccc;
}

input[type="checkbox"]:checked ~ .check:after {
  display: block;
}

button {
  background: #0069ed;
  color: #ffffff;
  text-transform: uppercase;
  margin: 2em auto 0;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
}

#response {
  margin: 2em auto 0;
}

#response i {
  transform: scale(2);
}
